.products{
    padding: 20px 9%;
}

.products_container{
    display: flex;
    flex-direction: column;
}
.products_title{
    text-align: center;
    font-size: 40px;
    color: #333;
    padding: 10px;
    margin: 20px 0;
    background-color: rgba(255, 51, 153, 0.05);
}

.products_title-span{
    color: #E84390;
}

.products_list{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.products_list-item{
    display: flex;
    flex-direction: column;
    flex: 1 300px;
    box-shadow: 0 5px 15px rgb(0 0 0 / 10%);
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,.1);
    position: relative;
}

.products_list-discount{
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 7px 10px;
    font-size: 20px;
    color: #E84390;
    background-color: rgba(255, 51, 153, 0.05);
    z-index: 1;
    border-radius: 5px;
}



.products_list-image{
    position: relative;
    text-align: center;
    padding: 20px 0 0;
    overflow: hidden;
    width: 100%;
}

.list_image-img{
    height: 250px;
}

.products_list-item:hover .list_image-img{
    transform: scale(1.1);

}

.products_list-item:hover .products_list-icons{
    transform: translateY(-100%);
}

.products_list-icons{
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    transform: translateY(100%);
    transition: all 0.3s linear;
    justify-content: space-between;
    padding: 0 30px;
    background-color:#E84390;
}



.products_list-icon{
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}

.products_list-icons img{
    height: 20px;
    width: 20px;
    
}




.products_list-content{
    padding: 20px;
    text-align: center;
}

.products_list-title{
    font-size: 25px;
    color: #333;
}

.products_list-price{
    font-size: 25px;
    color: #E84390;
    font-weight: bolder;
    padding: 10px 0 0;
}

.old_price{
    font-size: 15px;
    color: #999;
    font-weight: lighter;
}