*,
*:after,
*:before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}

.container {
    width: 100%;
    max-width: 1560px;
    margin: 0 auto;
    display: flex;
}