*,
*:after,
*:before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}

.container {
    width: 100%;
    max-width: 1560px;
    margin: 0 auto;
    display: flex;
    padding: 15px;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.btn {
    text-decoration: none;
    margin: 10px 0 0;
    border-radius: 50px;
    background-color: #333;
    color: #fff;
    padding: 9px 35px;
    cursor: pointer;
    font-size: 17px;
}

/* HEADER */

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #fff;
    padding: 20px 0;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 10%);
}

.header_container {
    justify-content: space-between;
    align-items: center;
}

.header_logo {
    font-size: 30px;
    color: #333;
    font-weight: bolder;
    text-decoration: none;
}

.header_logo > span {
    color: #e84393;
}

.header_list {
    list-style: none;
    display: flex;
    align-items: center;
}

.header_listItem {
    margin: 0 20px;
}

.header_link {
    font-size: 20px;
    font-weight: 500;
    color: #666;
    text-decoration: none;
}

.header_listItem:hover .header_link{
    color: #e84393;
}

.header_icons {
    display: flex;
    align-items: center;
}

.header_icon {
    margin: 0 10px;
    width: 25px;
    height: 25px;
    transition: all .3s linear;
}

.header_icon.heart_icon {
    background: center / contain no-repeat url(./../images/heart_black.png);
}

.header_icon.heart_icon:hover {
    background: center / contain no-repeat url(./../images/heart_click.png);
}

.header_icon.basket_icon {
    background: center / contain no-repeat url(./../images/basket_black.png);
}

.header_icon.basket_icon:hover {
    background: center / contain no-repeat url(./../images/basket_click.png);
}

.header_icon.user_icon {
    background: center / contain no-repeat url(./../images/user_black.png);
}

.header_icon.user_icon:hover {
    background: center / contain no-repeat url(./../images/user_click.png);
}

/* HEADER */

/* HOME */

.home {
    height: 100vh;
    background: center / cover no-repeat url(./../images/home-bg.jpg);
}

.home_container {
    justify-content: flex-start;
    align-items: center;
    height: 100%;
}

.home_content {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.home_content-title {
    font-size: 60px;
    color: #333;
}

.home_content-subtitle {
    font-size: 35px;
    color: #e84393;
    margin: 10px 0;
    line-height: 1.5;
}

.home_content-text {
    font-size: 15px;
    color: #999;
    margin: 10px 0;
    line-height: 1.5;
    max-width: 500px;
}

/* HOME */

/* ABOUT */


.about{
    display: flex;
    align-items: center;
    justify-content: center;
}

.about_container{
    display: flex;
    flex-direction: column;
    margin: 0 0 20px;
}

.about_title{
    text-align: center;
    font-size: 40px;
    color: #333;
    padding: 10px;
    margin: 20px 0;
    background: rgba(255, 51, 153, .05);
}

.about_title-1stword{
    color: #e84393;
}

.about_block{
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 20px 0 30px;
    
}

.about_block-video{
    
    position: relative;
}

.about_block-video video{
    width: 740px;
    border: 15px solid #fff;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgb(0, 0, 0 / 10%);
    height: 416px;
    object-fit: cover;
}

.video_title{
    position: absolute;
    top: 50%;
    text-align: center;
    transform: translateY(-50%);
    font-size: 30px;
    background: #fff;
    width: 100%;
    padding: 10px 20px;
    mix-blend-mode: screen;
    text-transform: capitalize;
}

.about_content{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    flex: 1 1 400px;
}
.about_content-title{
    font-size: 30px;
    color: #333;
    text-transform: capitalize;
}

.about_content-text{
    font-size: 15px;
    color: #999;
    padding: 10px 0 5px;
    line-height: 1.5;
    text-transform: capitalize;

}


.bonuses{
    display: flex;
    gap: 15px;
    background-color: #eee;
    flex-wrap: wrap;
    padding: 25px 0;
    justify-content: center;
}

.bonuses_list-item{
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .1);
    display: flex;
    align-items: center;
    padding: 25px;
    flex: 1 1 250px;
}

.bonuses_list-item img{
    height: 50px;
    margin: 0 20px 0;
}

.list-itemTitle{
    color: #333;
    font-size: 15px;
    padding: 0 0 15px;
    font-weight: 600;
}
.list-itemText{
    font-size: 13px;
    color: #555;
}

/* ABOUT */

/* PRODUCTS */

.products{
    padding: 20px 9%;
}

.products_container{
    display: flex;
    flex-direction: column;
}
.products_title{
    text-align: center;
    font-size: 40px;
    color: #333;
    padding: 10px;
    margin: 20px 0;
    background-color: rgba(255, 51, 153, 0.05);
}

.products_title-span{
    color: #E84390;
}

.products_list{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.products_list-item{
    display: flex;
    flex-direction: column;
    flex: 1 300px;
    box-shadow: 0 5px 15px rgb(0 0 0 / 10%);
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,.1);
    position: relative;
}

.products_list-discount{
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 7px 10px;
    font-size: 20px;
    color: #E84390;
    background-color: rgba(255, 51, 153, 0.05);
    z-index: 1;
    border-radius: 5px;
}

.products_list-image{
    position: relative;
    text-align: center;
    padding: 20px 0 0;
    overflow: hidden;
    width: 100%;
}

.list_image-img{
    height: 250px;
}

.products_list-item:hover .list_image-img{
    transform: scale(1.1);

}

.products_list-item:hover .products_list-icons{
    transform: translateY(-100%);
}

.products_list-icons{
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 50px;
    transform: translateY(100%);
    transition: all 0.3s linear;
    justify-content: space-between;
    padding: 0 30px;
    background-color:#E84390;
}

.products_list-icon{
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}

.products_list-icons a, .products_list-icons img{
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    background: #E84390;
    color: #fff;
    text-decoration: none;
}

.products_list-icons img{
    height: 20px;
    width: 20px;
    
}

.products_list-info{
    padding: 20px;
    text-align: center;
}

.products_list-title{
    font-size: 25px;
    color: #333;
}

.products_list-actual_price{
    font-size: 25px;
    color: #E84390;
    font-weight: bolder;
    padding: 10px 0 0;
}

.products_list-old_price{
    font-size: 15px;
    color: #999;
    font-weight: lighter;
}

/* PRODUCTS */

/* REVIEW */

.review {
    padding: 20px 0;
}

.review_container {
    flex-direction: column;
}

.review_title {
    width: 100%;
    text-align: center;
    font-size: 40px;
    margin: 20px 0;
    padding: 10px 0;
    background-color: rgba(255, 51, 153,.05);
    color: #e84393;
}

.review_title-span {
    color: #333;
}

.review_content {
    display: flex;
    align-items: center;
    gap: 0 15px;
}

.review_box {
    flex: 1 1 300px;
    box-shadow: 0 5px 15px rgb(0 0 0 / 10%);
    border-radius: 5px;
    padding: 30px 20px;
    position: relative;
    border: 1px solid rgba(0,0,0,.1);
    display: flex;
    flex-direction: column;
}

.review_box-rating {
    display: flex;
    gap: 0 20px;
}

.review_box-rating__item {
    font-size: 30px;
    font-weight: 600;
    color: #e84393
}

.review_box-text {
    margin: 20px 0;
    color: #999;
    font-size: 15px;
    line-height: 1.5;
}

.review_box-user {
    display: flex;
    align-items: center;
    gap: 0 20px;
}

.review_box-user_image {
    width: 60px; 
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}

.review_box-user_info {
    display: flex;
    flex-direction: column;
}

.review_box-user_name {
    font-size: 20px;
    font-weight: 600;
    color: #333;
}

.review_box-user_job {
    font-size: 15px;
    color: #999;
}

.review_box-quote {
    position: absolute;
    bottom: 30px;
    right: 30px;
    width: 60px;
    height: 60px;
    background: center / contain no-repeat url(./../images/quotation.png);
}

/* REVIEW */

/* CONTACT */

.contact {
    padding: 20px 0;
}

.contact_container {
    flex-direction: column;
}

.contact_title {
    width: 100%;
    text-align: center;
    font-size: 40px;
    margin: 20px 0;
    padding: 10px 0;
    background-color: rgba(255, 51, 153,.05);
    color: #e84393;
}

.contact_title-span {
    color: #333;
}

.contact_content {
    display: flex;
    align-items: center;
    gap: 0 15px;
}

.contact_form,
.contact_image {
    flex: 1 1 400px;
}

.contact_form {
    padding: 20px 25px;
    box-shadow: 0 5px 15px rgb(0 0 0 / 10%);
    border: 1px solid rgba(0,0,0,.1);
    background: #fff;
    border-radius: 5px;
}

.contact_form-input,
.contact_form-textarea {
    width: 100%;
    padding: 10px;
    font-size: 17px;
    color: #333;
    text-transform: none;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 5px;
    margin: 7px 0;
}

.contact_form-textarea {
    height: 200px;
    resize: none;
}

.contact_image img{
    width: 100%;
}

/* CONTACT */

/* FOOTER */

.footer {
    background-color: #fff;
    padding: 0 0 50px;
}

.footer_container {
    flex-direction: column;
}

.footer_navigation {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 0 10px;
}

.footer_menu {
    display: flex;
    flex-direction: column;
}

.footer_menu-title {
    color: #333;
    font-size: 25px;
    margin: 10px 0;
}

.footer_menu-list {
    list-style: none;
}

.footer_menu-listItem {
    padding: 10px 0;
}

.footer_menu-link {
    color: #666;
    font-size: 15px;
    text-decoration: none;
}

.footer_menu-listItem:hover .footer_menu-link {
    text-decoration: underline;
}

.footer_created {
    border-top: 1px solid rgba(0,0,0,.1);
    padding: 25px 0 0;
    margin: 10px 0 0;
    width: 100%;
}

.footer_created-text {
    text-align: center;
    font-size: 20px;
    color: #333;
}

/* FOOTER */